:root{

    /* primary */
    --pale-blue: hsl(225,100%, 94%);
    --bright-blur: hsl(245, 75%, 52%);

    /* neutral */
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    /* 500, 700, 900 */
}

body{
    font-family:  'Red Hat Display', sans-serif;
    font-size: 16px;
}

.bg-mb{
    position: absolute;
    top: 0;
}

.main{
    height: 100vh;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pale-blue);
}

.card{
    z-index: 1;
    width: 326px;
    /* height: 620px; */
    /* outline: 1px solid red; */
    border-radius: 20px;
    overflow: hidden;
    margin: 1rem;
    background-color: white;
}

.summary__title{
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 2rem;
}

.card__img{
    width: 100%;
    object-fit: contain;
}

.card__summary{
    text-align: center;
    margin: 0 1.5rem;
}

.summary__text{
    line-height: 1.5rem;
    color: var(--Desaturated-blue);
}

.card__plan{
    background-color: var(--Very-pale-blue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 1.5rem 0;
    border-radius: 20px;
}

.plan__annual{
    position: relative;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;

}

.text--bold{
    margin-bottom: 0;
    font-weight: 900;
}

.text--price{
    margin-top: 0;
}


.plan__change{
    font-weight: 700;
    font-size: .8rem;
}

.card__button{
    height: 10.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
}

.button{
    display: block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem 0;
    margin-top: 1rem;
}

.button--color{
    color: white;
    background-color: var(--bright-blur);
    margin-top: 0;

}

.button--transparent{
    background-color: transparent;
    font-weight: 700;
    color: var(--Desaturated-blue);
    margin-top: .5rem;
}